# S3 / R2 / OSS 兼容存储配置
S3_ENDPOINT=这里填你的节点地址，例如: https://s3.us-east-1.amazonaws.com
S3_REGION=这里写存储桶地域，如果是自定义OSS可以随便填，如: auto
S3_BUCKET=这里填你的存储桶名字
S3_ACCESS_KEY=这里填你的AccessKey
S3_SECRET_KEY=这里填你的SecretKey

# 管理员信息配置
ADMIN_USER=这里设置你的后台账号，例如: admin
ADMIN_PASS=这里设置你的后台密码
AUTH_SECRET=这里填一串随机长度的字符串用于加密Token(可以用随便敲键盘生成)
